@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Karla',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);
    margin: 0;
    padding: 20px;
    height: 100vh;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    width: 800px;
}

section{
    padding: 35px;
}

.row{
    display: flex;
}

.row > section{
    flex: 1;
}
.left{
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.right{
    background-color:  hsl(179, 47%, 52%);
    color: white;
}

h1{
    color: hsl(179, 62%, 43%);
    font-size: 35px;
}

.yellow-text{
    color: hsl(71, 73%, 54%);
}

p{
    font-size: 18px;
}

p.faded{
    color: hsl(179, 43%, 75%);
    display: flex;
    align-items: center;
}

p.faded span{
    color: white;
    font-size: 50px;
    margin-right: 10px;
}

.light{
    color: #999;
    margin: 7px 7px 7px 0;
}

button{
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    color: white;
    font-family: 'Karla',sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    padding: 15px 0;
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
    opacity: 0.7;
}

ul li{
    line-height: 24px;
}

@media screen and (max-width: 500px){
    .row{
        flex-direction: column;
    }
}